applicationinsights==0.11.10
azure-cosmos==4.7.0
azure-functions==1.21.3
azure-identity==1.19.0
azure-storage-blob==12.23.1
cachetools==5.5.0
fastapi==0.111.0
httpcore==1.0.7
httptools==0.6.4
langchain==0.3.23
langchain-community==0.3.19
langchain-core==0.3.51
langchain-openai==0.3.12
langgraph==0.3.1
langgraph-checkpoint==2.0.24
langgraph-sdk==0.1.61
pydantic==2.8.2
pydantic_core==2.20.1
requests==2.32.3
pytest==8.3.5
langdetect==1.0.9
gunicorn==21.2.0
openpyxl==3.1.5
python-docx==1.1.2
tenacity==8.2.3
azure-core==1.35.0
azure-ai-documentintelligence==1.0.0b4
python-dotenv==1.0.1
beautifulsoup4==4.12.3
markdown==3.5.2